openapi: 3.0.0
info:
  title: Botsi AI Pricing Model API
  description: |
    API for dynamic paywall prediction, user profile management, and purchase validation. 
    This integration allows for AI-driven pricing and tracking of unique paywall impressions.
  version: 1.0.0

servers:
  - url: https://app.botsi.com/api/v1/web-api
    description: Production Server

components:
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: |
        The secret key found on your App configuration page on the Botsi site.
        Format: {{secret_key}}

  schemas:
    # --- Enums ---
    PlatformType:
      type: string
      enum: [android, ios, ipados, tvos, macos, watchos, visionos, stripe]
      description: "The platform identifier for the device."
    
    StoreType:
      type: string
      enum: [app_store, play_store, stripe]
      description: "The sales platform or payment processor."

    EnvironmentType:
      type: string
      enum: [production, sandbox]
      description: "Set to 'production' for live apps and 'sandbox' for testing."

    # --- Reusable Objects ---
    PricingPhase:
      type: object
      required: [priceAmountMicros, currencyCode, billingPeriod, recurrenceMode]
      description: "Pricing phase details for a subscription product."
      properties:
        priceAmountMicros:
          type: integer
          description: "The price for the payment cycle in micro-units (1,000,000 = 1 unit). Use 0 for free trials."
        currencyCode: 
          type: string
          description: "ISO 4217 currency code for the price."
        billingPeriod: 
          type: string
          description: "Billing period specified in ISO 8601 format."
        recurrenceMode: 
          type: integer
          description: "Recurrence mode of the pricing phase (0: Infinite, 1: Fixed, 2: Non-recurring)."
        billingCycleCount: 
          type: integer
          description: "Number of cycles for which the billing period is applied."

    ProfileData:
      type: object
      description: "Standard user profile response data."
      properties:
        profileId: 
          type: string
          description: "The unique identifier generated by Botsi."
        customerUserId: 
          type: string
          nullable: true
          description: "The unique ID of the customer in your system."
        country: { type: string, description: "The country where the user is located." }
        device: { type: string, description: "The user's device model." }
        os: { type: string, description: "The operating system running on the device." }
        platform: { type: string, description: "The platform identifier." }
        totalRevenueUsd: { type: number, description: "Total revenue stats for the user." }
        accessLevels: { type: object, description: "Map of active access levels." }
        subscriptions: { type: object, description: "Detailed subscription status." }
        nonSubscriptions: { type: object, description: "Data for non-subscription purchases." }

    PaywallData:
      type: object
      description: "The paywall details returned by the prediction engine."
      properties:
        aiPricingModelId: { type: integer, description: "AI Pricing model ID on the Botsi." }
        id: { type: integer, description: "Internal Paywall ID on the Botsi." }
        externalId: { type: string, description: "External Paywall ID used on the app and AI model." }
        name: { type: string, description: "The name of the paywall." }
        isExperiment: { type: boolean, description: "Indicates paywall was returned by AI Pricing model." }
        placementId: { type: string, description: "The ID of the placement that triggered the paywall." }

    ProfileEvent:
      type: object
      required: [eventType, paywallId, placementId, isExperiment, aiPricingModelId]
      description: "Object representing a paywall impression."
      properties:
        eventType: 
          type: string
          enum: [paywall_shown]
          description: "The interaction type, typically 'paywall_shown'."
        paywallId: { type: integer, description: "Paywall ID from the Get Paywall API response." }
        placementId: { type: string, description: "The Placement ID configured on Botsi." }
        isExperiment: { type: boolean, description: "Must match value from Get Paywall API." }
        aiPricingModelId: { type: integer, description: "Must match value from Get Paywall API." }
        profileId: { type: string, description: "Botsi profile identifier." }
        customerUserId: { type: string, description: "Your internal customer identifier." }

    # --- Requests ---
    CreateProfileRequest:
      type: object
      required: [country, device, os, platform, appVersion]
      description: "Data required to initialize a user profile."
      properties:
        country: { type: string, description: "The user's location country." }
        device: { type: string, description: "The user's device model." }
        os: { type: string, description: "The operating system version." }
        platform: { $ref: '#/components/schemas/PlatformType' }
        appVersion: { type: string, description: "The version of the installed application." }
        customerUserId: { type: string, description: "Recommended: unique ID from your system." }
        advertisingId: { type: string, description: "The device advertising ID." }
        email: { type: string, description: "User email address." }
        locale: { type: string, description: "User locale (e.g., 'en')." }

    GetPaywallRequest:
      type: object
      required: [languageLocale, placementId]
      description: "Parameters to request a localized, AI-predicted paywall."
      properties:
        languageLocale: { type: string, description: "The user's language and locale." }
        placementId: { type: string, description: "The ID for the placement configured in Botsi." }
        profileId: { type: string, description: "The profileId returned from Create Profile API." }
        customerUserId: { type: string, description: "The unique ID of the customer in your system." }
        store: { $ref: '#/components/schemas/StoreType' }
        attributionSource: { type: string, description: "Origin of user (e.g., Organic, Facebook Ads)." }

    PlayStoreValidationRequest:
      type: object
      required: [token, placementId, productId, environment, subscriptionOfferDetails]
      description: "Validation payload for Google Play Store transactions."
      properties:
        token: { type: string, description: "Unique purchase token from Google Play." }
        placementId: { type: string, description: "The placement where the purchase was initiated." }
        productId: { type: string, description: "Play Store Product ID configured on Botsi." }
        environment: { $ref: '#/components/schemas/EnvironmentType' }
        paywallId: { type: integer, description: "ID from the Get Paywall API 'id' field." }
        profileId: { type: string, description: "Botsi Profile ID." }
        customerUserId: { type: string, description: "Your internal customer ID." }
        isExperiment: { type: boolean, description: "Value from Get Paywall API." }
        aiPricingModelId: { type: integer, description: "Value from Get Paywall API." }
        subscriptionOfferDetails:
          type: object
          required: [basePlanId, pricingPhases]
          description: "Details for identifying which subscription was purchased."
          properties:
            basePlanId: { type: string, description: "The associated base plan id." }
            offerId: { type: string, description: "The associated offer id (if applicable)." }
            pricingPhases:
              type: array
              items: { $ref: '#/components/schemas/PricingPhase' }

security:
  - SecretKey: []

paths:
  /profiles:
    post:
      summary: Create a Profile
      description: Call this when the user first starts using the app to initialize the Botsi profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/ProfileData' }

  /paywalls:
    post:
      summary: Get Paywall
      description: Fetches the AI-predicted paywall. Average response is 500ms; avoid calling immediately before display.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
      responses:
        '200':
          description: Paywall configuration retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/PaywallData' }

  /events:
    post:
      summary: Send Profile Event
      description: Track paywall impressions. Accepts an array where each element is an event object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/ProfileEvent' }
      responses:
        '200':
          description: Event tracked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }

  /purchases/play-store/validate:
    post:
      summary: Validate Google Play Store Purchase
      description: Triggered after a purchase event to validate the transaction and update entitlements.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayStoreValidationRequest'
      responses:
        '200':
          description: Validated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/ProfileData' }