openapi: 3.0.0
info:
  title: Botsi AI Pricing Model API
  description: |
    API for dynamic paywall prediction, user profile management, and purchase validation.
    All requests require a secret key for authentication.
  version: 1.0.0

servers:
  - url: https://app.botsi.com/api/v1/web-api
    description: Production Server

components:
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: |
        The secret key found on your App configuration page on the Botsi site.
        Format: {{secret_key}}

  schemas:
    PlatformType:
      type: string
      enum: [android, ios, ipados, tvos, macos, watchos, visionos, stripe]
      description: The platform identifier for the device.
    
    StoreType:
      type: string
      enum: [app_store, play_store, stripe]
      description: The sales platform or payment processor.

    EnvironmentType:
      type: string
      enum: [production, sandbox]
      description: Set to production when the app is live and to sandbox for testing purposes only.

    PricingPhase:
      type: object
      required: [priceAmountMicros, currencyCode, billingPeriod, recurrenceMode]
      properties:
        priceAmountMicros:
          type: integer
          description: |
            The price for the payment cycle in micro-units, where 1,000,000 micro-units equal one unit of the currency.
            A trial period can be identified when this is 0.
        currencyCode: 
          type: string
          description: ISO 4217 currency code for price.
        billingPeriod: 
          type: string
          description: Billing period for which the given price applies, specified in ISO 8601 format.
        recurrenceMode: 
          type: integer
          description: Recurrence mode of the pricing phase.
        billingCycleCount: 
          type: integer
          description: Number of cycles for which the billing period is applied.

    ProfileData:
      type: object
      properties:
        profileId: 
          type: string
          description: The unique identifier generated by Botsi for this user profile.
        customerUserId: 
          type: string
          nullable: true
          description: The unique ID of the customer in your system. It isn't required, but it's strongly recommended.
        country: 
          type: string
          description: The country where the user is located.
        device: 
          type: string
          description: The user's device model.
        os: 
          type: string
          description: The operating system running on the device.
        platform: 
          type: string
          description: The platform identifier.
        totalRevenueUsd: 
          type: number
          description: Total revenue generated by the user in USD.
        accessLevels: 
          type: object
          description: Map of active access levels or entitlements.
        subscriptions: 
          type: object
          description: Detailed status of active and expired subscriptions.

    AttributeObject:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          description: The attribute key.
        value:
          type: string
          description: The attribute value.

    AttributeResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique ID assigned to the custom attribute.
        key:
          type: string
        value:
          type: string

    CustomAttributeRequest:
      type: object
      required: [custom]
      properties:
        profileId:
          type: string
          description: The unique Botsi profile ID.
        customerUserId:
          type: string
          description: The customer user ID from your system.
        custom:
          $ref: '#/components/schemas/AttributeObject'

    UpdateAttributeRequest:
      allOf:
        - $ref: '#/components/schemas/CustomAttributeRequest'
        - type: object
          required: [attrId]
          properties:
            attrId:
              type: string
              description: Required ID of the custom attribute to update.

    BulkAttributeRequest:
      type: object
      required: [custom]
      properties:
        profileId:
          type: string
        customerUserId:
          type: string
        custom:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AttributeObject'

    PaywallData:
      type: object
      properties:
        aiPricingModelId: 
          type: integer
          description: AI Pricing model ID on the Botsi.
        id: 
          type: integer
          description: Internal Paywall ID on the Botsi.
        externalId: 
          type: string
          description: External Paywall ID, the same as used on the app and AI Pricing model.
        name: 
          type: string
          description: The name assigned to the paywall.
        isExperiment: 
          type: boolean
          description: Indicates paywall returned by AI Pricing model.

    ProfileEvent:
      type: object
      required: [eventType, paywallId, placementId, isExperiment, aiPricingModelId]
      properties:
        eventType: 
          type: string
          enum: [paywall_shown]
          description: The type of event, such as paywall_shown.
        paywallId: 
          type: integer
          description: Paywall ID. Should be taken from the Get Paywall API response field id.
        placementId: 
          type: string
          description: The Placement ID corresponding to the placement configured in Botsi.
        isExperiment: 
          type: boolean
          description: Should be the same as returned by Get Paywall API.
        aiPricingModelId: 
          type: integer
          description: Should be the same as returned by Get Paywall API.
        profileId: 
          type: string
          description: The profileId returned from the profile creation call.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system. It isn't required, but it's strongly recommended.

    CreateProfileRequest:
      type: object
      required: [country, device, os, platform, appVersion]
      properties:
        country: 
          type: string
          description: The country where the user is located.
        device: 
          type: string
          description: The user's device model.
        os: 
          type: string
          description: The operating system running on the device.
        platform: 
          $ref: '#/components/schemas/PlatformType'
        appVersion: 
          type: string
          description: The version of the installed application.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system. It isn't required, but it's strongly recommended.
        advertisingId: 
          type: string
          description: The device advertising identifier.
        email: 
          type: string
          description: The user's email address.

    GetPaywallRequest:
      type: object
      required: [languageLocale, placementId]
      properties:
        languageLocale: 
          type: string
          description: The user's language and locale.
        placementId: 
          type: string
          description: The Placement ID corresponding to the placement configured in Botsi.
        profileId: 
          type: string
          description: Required to associate events with the corresponding profile.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system. It isn't required, but it's strongly recommended.
        store: 
          $ref: '#/components/schemas/StoreType'
        attributionSource: 
          type: string
          description: Indicates where the user action originated.

    PlayStoreValidationRequest:
      type: object
      required: [token, placementId, productId, environment, subscriptionOfferDetails]
      properties:
        token: 
          type: string
          description: Token that uniquely identifies a purchase for a given item and user pair.
        placementId: 
          type: string
          description: The same as Placement ID on the placement configured on the Botsi.
        productId: 
          type: string
          description: The same as Play Store Product ID on the product configured on the Botsi.
        environment: 
          $ref: '#/components/schemas/EnvironmentType'
        paywallId: 
          type: integer
          description: Paywall ID needed for correct analytics for the AI Pricing Model.
        profileId: 
          type: string
          description: Required to identify the user on Botsi.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system. It isn't required, but it's strongly recommended.
        isExperiment: 
          type: boolean
          description: Should be the same as returned by Get Paywall API.
        aiPricingModelId: 
          type: integer
          description: Should be the same as returned by Get Paywall API.
        subscriptionOfferDetails:
          type: object
          required: [basePlanId, pricingPhases]
          description: Object from ProductDetails class used to associate which subscription was purchased.
          properties:
            basePlanId: 
              type: string
              description: The base plan id associated with the subscription product.
            offerId: 
              type: string
              description: The offer id associated with the subscription product.
            pricingPhases:
              type: array
              items: 
                $ref: '#/components/schemas/PricingPhase'

security:
  - SecretKey: []

paths:
  /profiles:
    post:
      summary: Create a Profile
      description: This endpoint should be called when the user first starts using the app.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/ProfileData'

  /profiles/custom-attributes:
    post:
      summary: Add Single Custom Attribute
      description: Creates a single custom attribute for a profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomAttributeRequest'
      responses:
        '200':
          description: Attribute created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AttributeResponse'
    put:
      summary: Update Custom Attribute
      description: Updates an existing custom attribute for a profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttributeRequest'
      responses:
        '200':
          description: Attribute updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AttributeResponse'

  /profiles/custom-attributes-all:
    post:
      summary: Add Multiple Custom Attributes
      description: Creates multiple custom attributes for a single profile in parallel for optimal performance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAttributeRequest'
      responses:
        '200':
          description: Multiple attributes created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttributeResponse'

  /paywalls:
    post:
      summary: Get Paywall
      description: Fetches the AI-predicted paywall configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
      responses:
        '200':
          description: Paywall retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/PaywallData'

  /events:
    post:
      summary: Send Profile Event
      description: Tracks paywall impressions within the platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: 
                $ref: '#/components/schemas/ProfileEvent'
      responses:
        '200':
          description: Event tracked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean

  /purchases/play-store/validate:
    post:
      summary: Validate Google Play Store Purchase
      description: This call should be triggered from the app after the purchase event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayStoreValidationRequest'
      responses:
        '200':
          description: Validated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/ProfileData'