openapi: 3.0.0
info:
  title: Botsi AI Pricing Model API
  description: |
    API for dynamic paywall prediction, user profile management, and purchase validation.
    All requests require a secret key for authentication.
  version: 1.0.0

servers:
  - url: https://app.botsi.com/api/v1/web-api
    description: Production Server

components:
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: |
        The secret key found on your App configuration page on the Botsi site.
        Format: {{secret_key}}

  schemas:
    # --- Enums ---
    PlatformType:
      type: string
      enum: [android, ios, ipados, tvos, macos, watchos, visionos, stripe]
      description: The platform identifier for the device.
    
    StoreType:
      type: string
      enum: [app_store, play_store, stripe]
      description: The sales platform or payment processor.

    EnvironmentType:
      type: string
      enum: [production, sandbox]
      description: Set to production when the app is live and to sandbox for testing purposes only.

    # --- Reusable Objects ---
    PricingPhase:
      type: object
      required: [priceAmountMicros, currencyCode, billingPeriod, recurrenceMode]
      properties:
        priceAmountMicros:
          type: integer
          description: |
            The price for the payment cycle in micro-units, where 1,000,000 micro-units equal one unit of the currency.
            A trial period can be identified when this is 0.
        currencyCode: 
          type: string
          description: ISO 4217 currency code for price.
        billingPeriod: 
          type: string
          description: Billing period for which the given price applies, specified in ISO 8601 format.
        recurrenceMode: 
          type: integer
          description: Recurrence mode of the pricing phase.
        billingCycleCount: 
          type: integer
          description: Number of cycles for which the billing period is applied.

    ProfileData:
      type: object
      properties:
        profileId: 
          type: string
          description: The unique identifier generated by Botsi for this user profile.
        customerUserId: 
          type: string
          nullable: true
          description: The unique ID of the customer in your system.
        country: 
          type: string
          description: The country where the user is located.
        device: 
          type: string
          description: The user's device model.
        os: 
          type: string
          description: The operating system running on the device.
        platform: 
          type: string
          description: The platform identifier.
        totalRevenueUsd: 
          type: number
          description: Total revenue generated by the user in USD.
        accessLevels: 
          type: object
          description: Map of active access levels or entitlements.
        subscriptions: 
          type: object
          description: Detailed status of active and expired subscriptions.

    PaywallData:
      type: object
      properties:
        aiPricingModelId: 
          type: integer
          description: AI Pricing model ID on the Botsi.
        id: 
          type: integer
          description: Internal Paywall ID on the Botsi.
        externalId: 
          type: string
          description: External Paywall ID, the same as used on the app and AI Pricing model.
        name: 
          type: string
          description: The name assigned to the paywall.
        isExperiment: 
          type: boolean
          description: Indicates paywall returned by AI Pricing model.

    ProfileEvent:
      type: object
      required: [eventType, paywallId, placementId, isExperiment, aiPricingModelId]
      properties:
        eventType: 
          type: string
          enum: [paywall_shown]
          description: The type of event, such as paywall_shown.
        paywallId: 
          type: integer
          description: Paywall ID. Should be taken from the Get Paywall API response field id.
        placementId: 
          type: string
          description: The Placement ID corresponding to the placement configured in Botsi.
        isExperiment: 
          type: boolean
          description: Should be the same as returned by Get Paywall API.
        aiPricingModelId: 
          type: integer
          description: Should be the same as returned by Get Paywall API.
        profileId: 
          type: string
          description: The profileId returned from the profile creation call.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system.

    # --- Requests ---
    CreateProfileRequest:
      type: object
      required: [country, device, os, platform, appVersion]
      properties:
        country: 
          type: string
          description: The country where the user is located.
        device: 
          type: string
          description: The user's device model.
        os: 
          type: string
          description: The operating system running on the device.
        platform: 
          $ref: '#/components/schemas/PlatformType'
        appVersion: 
          type: string
          description: The version of the installed application.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system.
        advertisingId: 
          type: string
          description: The device advertising identifier.
        email: 
          type: string
          description: The user's email address.

    GetPaywallRequest:
      type: object
      required: [languageLocale, placementId]
      properties:
        languageLocale: 
          type: string
          description: The user's language and locale.
        placementId: 
          type: string
          description: The Placement ID corresponding to the placement configured in Botsi.
        profileId: 
          type: string
          description: Required to associate events with the corresponding profile.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system.
        store: 
          $ref: '#/components/schemas/StoreType'
        attributionSource: 
          type: string
          description: Indicates where the user action originated (e.g., Facebook Ads, Organic).

    PlayStoreValidationRequest:
      type: object
      required: [token, placementId, productId, environment, subscriptionOfferDetails]
      description: Validation payload for Google Play Store purchases.
      properties:
        token: 
          type: string
          description: Token that uniquely identifies a purchase for a given item and user pair.
        placementId: 
          type: string
          description: The same as Placement ID on the placement configured on the Botsi.
        productId: 
          type: string
          description: The same as Play Store Product ID on the product configured on the Botsi.
        environment: 
          $ref: '#/components/schemas/EnvironmentType'
        paywallId: 
          type: integer
          description: Paywall ID needed for correct analytics for the AI Pricing Model.
        profileId: 
          type: string
          description: Required to identify the user on Botsi.
        customerUserId: 
          type: string
          description: The unique ID of the customer in your system.
        isExperiment: 
          type: boolean
          description: Should be the same as returned by Get Paywall API.
        aiPricingModelId: 
          type: integer
          description: Should be the same as returned by Get Paywall API.
        subscriptionOfferDetails:
          type: object
          required: [basePlanId, pricingPhases]
          description: Object from ProductDetails class needed to associate which subscription was purchased.
          properties:
            basePlanId: 
              type: string
              description: The base plan id associated with the subscription product.
            offerId: 
              type: string
              description: The offer id associated with the subscription product.
            pricingPhases:
              type: array
              items: 
                $ref: '#/components/schemas/PricingPhase'

security:
  - SecretKey: []

paths:
  /profiles:
    post:
      summary: Create Profile API
      description: This endpoint should be called when the user first starts using the app.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                    description: Indicates request success.
                  data: 
                    $ref: '#/components/schemas/ProfileData'

  /paywalls:
    post:
      summary: Get Paywall API
      description: Fetches the AI-predicted paywall configuration tailored for the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
      responses:
        '200':
          description: Paywall retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/PaywallData'

  /events:
    post:
      summary: Profile events API
      description: This call should be triggered from the app after the paywall has been shown to the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: 
                $ref: '#/components/schemas/ProfileEvent'
              description: The request body must be an array, where each element represents a separate event object.
      responses:
        '200':
          description: Event tracked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                    description: Indicates request success.

  /purchases/play-store/validate:
    post:
      summary: Play Store On Purchase Validate API
      description: This call should be triggered from the app after the Google Play purchase event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayStoreValidationRequest'
      responses:
        '200':
          description: Validated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/ProfileData'