openapi: 3.0.0
info:
  title: Botsi AI Pricing Model API
  description: |
    API para la predicción dinámica de paywalls, gestión de perfiles de usuario y validación de compras.
    Todas las solicitudes requieren una clave secreta para la autenticación.
  version: 1.0.0

servers:
  - url: https://app.botsi.com/api/v1/web-api
    description: Servidor de Producción

components:
  securitySchemes:
    SecretKey:
      type: apiKey
      in: header
      name: Authorization
      description: |
        La clave secreta que se encuentra en la página de configuración de la aplicación en el sitio de Botsi.
        Formato: {{secret_key}}

  schemas:
    # --- Enums ---
    PlatformType:
      type: string
      enum: [android, ios, ipados, tvos, macos, watchos, visionos, stripe]
      description: El identificador de plataforma para el dispositivo.
    
    StoreType:
      type: string
      enum: [app_store, play_store, stripe]
      description: La plataforma de ventas o el procesador de pagos.

    EnvironmentType:
      type: string
      enum: [production, sandbox]
      description: Establecer en 'production' para aplicaciones en vivo y 'sandbox' para pruebas.

    # --- Objetos Reutilizables ---
    PricingPhase:
      type: object
      required: [priceAmountMicros, currencyCode, billingPeriod, recurrenceMode]
      properties:
        priceAmountMicros:
          type: integer
          description: |
            El precio para el ciclo de pago en micro-unidades (1,000,000 = 1 unidad). 
            Use 0 para pruebas gratuitas.
        currencyCode: 
          type: string
          description: Código de moneda ISO 4217 para el precio.
        billingPeriod: 
          type: string
          description: Período de facturación especificado en formato ISO 8601.
        recurrenceMode: 
          type: integer
          description: Modo de recurrencia de la fase de precios.
        billingCycleCount: 
          type: integer
          description: Número de ciclos para los cuales se aplica el período de facturación.

    ProfileData:
      type: object
      properties:
        profileId: 
          type: string
          description: El identificador único generado por Botsi.
        customerUserId: 
          type: string
          nullable: true
          description: El ID único del cliente en su propio sistema.
        country: 
          type: string
          description: El país donde se encuentra el usuario.
        device: 
          type: string
          description: El modelo de dispositivo del usuario.
        os: 
          type: string
          description: El sistema operativo que se ejecuta en el dispositivo.
        platform: 
          type: string
          description: El identificador de la plataforma.
        totalRevenueUsd: 
          type: number
          description: Estadísticas de ingresos totales para el usuario.
        accessLevels: 
          type: object
          description: Mapa de niveles de acceso activos.
        subscriptions: 
          type: object
          description: Estado detallado de la suscripción.

    PaywallData:
      type: object
      properties:
        aiPricingModelId: 
          type: integer
          description: ID del modelo de precios de IA en Botsi.
        id: 
          type: integer
          description: ID interno del Paywall en Botsi.
        externalId: 
          type: string
          description: ID externo del Paywall utilizado en la aplicación y en el modelo de IA.
        name: 
          type: string
          description: El nombre del paywall.
        isExperiment: 
          type: boolean
          description: Indica si el paywall fue devuelto por el modelo de precios de IA.

    ProfileEvent:
      type: object
      required: [eventType, paywallId, placementId, isExperiment, aiPricingModelId]
      properties:
        eventType: 
          type: string
          enum: [paywall_shown]
          description: El tipo de interacción, típicamente 'paywall_shown'.
        paywallId: 
          type: integer
          description: ID del Paywall tomado del campo 'id' de la respuesta de Get Paywall API.
        placementId: 
          type: string
          description: El ID de ubicación (Placement ID) configurado en Botsi.
        isExperiment: 
          type: boolean
          description: Debe ser el mismo que el devuelto por la API Get Paywall.
        aiPricingModelId: 
          type: integer
          description: Debe ser el mismo que el devuelto por la API Get Paywall.
        profileId: 
          type: string
          description: El mismo profileId devuelto por la API Create Profile.
        customerUserId: 
          type: string
          description: El ID único del cliente en su sistema.

    # --- Requests ---
    CreateProfileRequest:
      type: object
      required: [country, device, os, platform, appVersion]
      properties:
        country: 
          type: string
          description: El país donde se encuentra el usuario.
        device: 
          type: string
          description: El modelo de dispositivo del usuario.
        os: 
          type: string
          description: El sistema operativo del dispositivo.
        platform: 
          $ref: '#/components/schemas/PlatformType'
        appVersion: 
          type: string
          description: La versión de la aplicación instalada.
        customerUserId: 
          type: string
          description: El ID único del cliente en su propio sistema.
        advertisingId: 
          type: string
          description: El identificador de publicidad del dispositivo.
        email: 
          type: string
          description: La dirección de correo electrónico del usuario.

    GetPaywallRequest:
      type: object
      required: [languageLocale, placementId]
      properties:
        languageLocale: 
          type: string
          description: El idioma y la configuración regional del usuario.
        placementId: 
          type: string
          description: El ID de ubicación configurado en Botsi.
        profileId: 
          type: string
          description: Requerido para asociar eventos con el perfil correspondiente.
        customerUserId: 
          type: string
          description: El ID único del cliente en su sistema.
        store: 
          $ref: '#/components/schemas/StoreType'
        attributionSource: 
          type: string
          description: Indica dónde se originó la acción del usuario (ej. Organic, Facebook Ads).

    PlayStoreValidationRequest:
      type: object
      required: [token, placementId, productId, environment, subscriptionOfferDetails]
      description: Payload de validación para transacciones de Google Play Store.
      properties:
        token: 
          type: string
          description: Token que identifica de forma única una compra para un artículo y usuario específicos.
        placementId: 
          type: string
          description: El ID de ubicación configurado en Botsi donde ocurrió la compra.
        productId: 
          type: string
          description: El ID de producto de Play Store configurado en Botsi.
        environment: 
          $ref: '#/components/schemas/EnvironmentType'
        paywallId: 
          type: integer
          description: ID del Paywall necesario para las analíticas correctas del modelo de IA.
        profileId: 
          type: string
          description: Requerido para identificar al usuario en Botsi.
        customerUserId: 
          type: string
          description: El ID único del cliente en su sistema.
        isExperiment: 
          type: boolean
          description: Debe coincidir con el valor devuelto por la API Get Paywall.
        aiPricingModelId: 
          type: integer
          description: Debe coincidir con el valor devuelto por la API Get Paywall.
        subscriptionOfferDetails:
          type: object
          required: [basePlanId, pricingPhases]
          description: Objeto de la clase ProductDetails utilizado para asociar la suscripción comprada.
          properties:
            basePlanId: 
              type: string
              description: El ID del plan base asociado con el producto de suscripción.
            offerId: 
              type: string
              description: El ID de oferta asociado (si corresponde).
            pricingPhases:
              type: array
              items: 
                $ref: '#/components/schemas/PricingPhase'

security:
  - SecretKey: []

paths:
  /profiles:
    post:
      summary: Crear un Perfil
      description: Este endpoint debe llamarse cuando el usuario comienza a usar la aplicación por primera vez.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Perfil creado con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                    description: Indica si la solicitud fue exitosa.
                  data: 
                    $ref: '#/components/schemas/ProfileData'

  /paywalls:
    post:
      summary: Obtener Paywall
      description: Obtiene la configuración del paywall predicha por la IA.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
      responses:
        '200':
          description: Paywall recuperado con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/PaywallData'

  /events:
    post:
      summary: Enviar Evento de Perfil
      description: Rastrea las impresiones de paywalls dentro de la plataforma.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: 
                $ref: '#/components/schemas/ProfileEvent'
              description: El cuerpo de la solicitud debe ser un arreglo de objetos de evento.
      responses:
        '200':
          description: Evento registrado con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                    description: Indica si la solicitud fue exitosa.

  /purchases/play-store/validate:
    post:
      summary: Validar Compra de Google Play Store
      description: Esta llamada debe activarse desde la aplicación después del evento de compra.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayStoreValidationRequest'
      responses:
        '200':
          description: Compra validada con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  data: 
                    $ref: '#/components/schemas/ProfileData'